# Input devices
r_dir_file(system_server, vendor_keylayout_file);

allow system_server sysfs_rtc:file r_file_perms;

# fingerprint
allow system_server goodix_fp_hwservice:hwservice_manager find;

get_prop(system_server, exported_camera_prop)
get_prop(system_server, userspace_reboot_config_prop);
get_prop(system_server, userspace_reboot_exported_prop);
